<div class="wrapper">
	<app-header class="page-header"></app-header>
	<div  class="page-content">
		<div class="side-menu">
			<ul class="custom-nav">				
				<li routerLinkActive="active" *ngFor="let menu of sideMenuItem">
					<a  routerLink="{{menu.url}}" class="waves-effect active">
						<i class="far {{menu.icon}}"></i>
						{{menu.title}}
					</a>
				</li>
			</ul>
		</div>	
		<div class="main-container">
			<app-breadcrumb></app-breadcrumb>
			<router-outlet></router-outlet>
		</div>
	</div>
	<app-footer class="page-footer"> </app-footer>
</div>