<div class="card">
	<div class="card-body">
	  <h4 class="card-title">Change Password</h4>
	  
	  <div class="card-center-block">
	  		<hr>
	  		<form class="form-sample" #passwordForm='ngForm' (ngSubmit)='changePassword(passwordForm)'> 
		        <div class="form-group row">
		          <label class="col-sm-5 col-form-label">Current Password</label>
		          <div class="col-sm-7">
		           <input class='form-control' type="password" name="oldPassword" [(ngModel)]="passdata.oldPassword" placeholder="Enter Current Password"
        id="oldPassword" required #oldPassword="ngModel"/>
        			<div class="error-block" *ngIf="((submitted || oldPassword.touched) && oldPassword.invalid)">
        				{{showError('oldPassword', oldPassword.errors)}}
        			</div>
		          </div>
		        </div>
		        <div class="form-group row">
		          <label class="col-sm-5 col-form-label">New Password</label>
		          <div class="col-sm-7">
		           <input class='form-control' type="password" name="newPassword" [(ngModel)]="passdata.newPassword" placeholder="Enter newPassword"
        id="newPassword" required #newPassword="ngModel"/>
					<div class="error-block" *ngIf="((submitted || newPassword.touched) && oldPassword.invalid)">
									{{showError('newPassword', newPassword.errors)}}
								</div>
		          </div>
		        </div>
		        <div class="form-group row">
		          <label class="col-sm-5 col-form-label">Confirm Password</label>
		          <div class="col-sm-7">
		           <input class='form-control' type="password" name="confirmPassword" [(ngModel)]="passdata.confirmPassword" placeholder="Enter confirmPassword"
        id="confirmPassword" required #confirmPassword="ngModel"/>
        <div class="error-block" *ngIf="((submitted || confirmPassword.touched) && oldPassword.invalid)">
									{{showError('confirmPassword', confirmPassword.errors)}}
								</div>
		          </div>
		        </div>
		        <hr>
		        <div class="form-group row">
		        	<div class="button-group-container">
		        		<button type="submit" class="btn btn-primary">Submit</button>
		        		<button type="button" class="btn btn-warning" [routerLink]="['/main']">Cancel</button>
		        	</div>
		        </div>
		  	</form>
	  </div>
	</div>
</div>