<!--2. Email Signature Section Start Here-->
<section class="email_sign_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="email_sign_left">
                    <div class="small_tag_line wow fadeInUp">
                        <p>MySignature</p>
                    </div>
                    <div class="sign_title wow fadeInUp">
                        <h1>Free Email Signature Generator for major email clients.</h1>
                    </div>
                    <div class="small_desc wow fadeInUp">
                        <p>Get more from your business conversations with email signature generator!</p>
                    </div>
                    <div class="sec_btn wow fadeInUp">
                        <a  class="btn pink_btn large_btn font_popins txt_upper">Create free email signature</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="email_sign_right">
                    <div class="sign_vector_img wow slideInRight" data-wow-delay="300ms">
                        <img src="assets/images/fingerprint.png" class="img-responsive first">
                        <img src="assets/images/email-signature.png" class="img-responsive sec">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--2. Email Signature Section End Here-->
<!--3. Service Section Start Here-->
<section class="service_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="box_block wow fadeInUp">
                    <div class="box_icon ">
                        <img src="assets/images/finder_icon.png" class="img-responsive" alt="" />
                    </div>
                    <div class="box_title ">
                        <h5>Help your customers for reach you easily</h5>
                    </div>
                    <div class="box_desc">
                        <p>Make your phone and email “clickable”, so that your clients could reach you immediately.</p>
                    </div>
                    <div class="box_link ">
                        <a  >Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div class="box_block wow fadeInUp " data-wow-delay="0.2s ">
                    <div class="box_icon ">
                        <img src="assets/images/marketing_icon.png " class="img-responsive " alt=" " />
                    </div>
                    <div class="box_title ">
                        <h5>Improve email marketing strategy</h5>
                    </div>
                    <div class="box_desc ">
                        <p>Signed emails are more likely to be read and answered, statistics says.</p>
                    </div>
                    <div class="box_link ">
                        <a  >Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <div class="box_block wow fadeInUp " data-wow-delay="0.3s ">
                    <div class="box_icon ">
                        <img src="assets/images/profession_icon-.png " class="img-responsive " alt=" " />
                    </div>
                    <div class="box_title ">
                        <h5>Stay professional and polite</h5>
                    </div>
                    <div class="box_desc ">
                        <p>Well, it just looks well-mannered, when your letter ends up with a nice-formulated</p>
                    </div>
                    <div class="box_link ">
                        <a  >Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--3. Service Section End Here-->
<!--4. Sign_creator Section Start Here-->
<section class="sign_creator_sec ">
    <div class="container ">
        <div class="section_header ">
            <div class="sec_title wow fadeInUp ">
                <h3>Why use email signature creator?</h3>
            </div>
            <div class="sec_tagline wow fadeInUp ">
                <p>It is not easy to create a valuable email signature without any programming knowledge and all by yourself.
                    There are things to consider when we talk about professionally written email. So why not spare your
                    time and efforts for other things and use free online email signature generator?</p>
            </div>
        </div>
        <!-- Owl curosal -->
        <div class="carosal_block creator_curosal ">
            <div class="row ">
                <div class="large-12 columns col-md-12 ">
                    <div class="owl-carousel owl-theme " id="sign_creator ">
                        <div class="item ">
                            <div class="box_block wow fadeInUp ">
                                <div class="box_icon ">
                                    <img src="assets/images/share_icon.png " class="img-responsive " alt=" " />
                                </div>
                                <div class="box_title ">
                                    <h5>You can add social media icons to your email signature</h5>
                                </div>
                                <div class="box_desc ">
                                    <p>Add your business profiles on Facebook, Twitter, Instagram, etc., so that your clients
                                        could view your portfolio or communicate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item ">
                            <div class="box_block wow fadeInUp ">
                                <div class="box_icon ">
                                    <img src="assets/images/adaptable_icon.png " class="img-responsive " alt=" " />
                                </div>
                                <div class="box_title ">
                                    <h5>HTML email signature is flawless and mobile adaptable</h5>
                                </div>
                                <div class="box_desc ">
                                    <p>Add your business profiles on Facebook, Twitter, Instagram, etc., so that your clients
                                        could view your portfolio or communicate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item ">
                            <div class="box_block wow fadeInUp ">
                                <div class="box_icon ">
                                    <img src="assets/images/setting_icon.png " class="img-responsive " alt=" " />
                                </div>
                                <div class="box_title ">
                                    <h5>You can include some marketing tools to your email signature</h5>
                                </div>
                                <div class="box_desc ">
                                    <p>Add your business profiles on Facebook, Twitter, Instagram, etc., so that your clients
                                        could view your portfolio or communicate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item ">
                            <div class="box_block wow fadeInUp ">
                                <div class="box_icon ">
                                    <img src="assets/images/share_icon.png " class="img-responsive " alt=" " />
                                </div>
                                <div class="box_title ">
                                    <h5>You can add social media icons to your email signature</h5>
                                </div>
                                <div class="box_desc ">
                                    <p>Add your business profiles on Facebook, Twitter, Instagram, etc., so that your clients
                                        could view your portfolio or communicate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item ">
                            <div class="box_block ">
                                <div class="box_icon ">
                                    <img src="assets/images/adaptable_icon.png " class="img-responsive " alt=" " />
                                </div>
                                <div class="box_title ">
                                    <h5>HTML email signature is flawless and mobile adaptable</h5>
                                </div>
                                <div class="box_desc ">
                                    <p>Add your business profiles on Facebook, Twitter, Instagram, etc., so that your clients
                                        could view your portfolio or communicate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item ">
                            <div class="box_block wow fadeInUp ">
                                <div class="box_icon ">
                                    <img src="assets/images/setting_icon.png " class="img-responsive " alt=" " />
                                </div>
                                <div class="box_title ">
                                    <h5>You can include some marketing tools to your email signature</h5>
                                </div>
                                <div class="box_desc ">
                                    <p>Add your business profiles on Facebook, Twitter, Instagram, etc., so that your clients
                                        could view your portfolio or communicate.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--4. Sign_creator Section End Here-->
<!--5. Sign_genrator Section Start Here-->
<section class="sign_genrator_sec ">
    <div class="container ">
        <div class="section_header ">
            <div class="sec_title wow fadeInUp ">
                <h3>Who needs an online email signature generator?</h3>
            </div>
            <div class="sec_tagline wow fadeInUp ">
                <p>No matter what is your field of competence and topic of your email, if you care about the proper effect
                    on a reader, you need an email signature.</p>
            </div>
        </div>
        <div class="sign_gen_tabs ">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs gen_nav_tabs wow fadeInUp " role="tablist ">
                <li role="presentation" [class]="freelancer?'active':''">
                    <a aria-controls="freelancer" (click)="changeMode('freelancer')"  class="btn ">Freelancer</a>
                </li>
                <li role="presentation" [class]="business?'active':''">
                    <a aria-controls="business" (click)="changeMode('business')"  class="btn ">Business Owner</a>
                </li>
                <li role="presentation" [class]="persona?'active':''">
                    <a aria-controls="persona " (click)="changeMode('persona')"  class="btn ">C-level persona</a>
                </li>
                <li role="presentation" [class]="employee?'active':''">
                    <a aria-controls="employee" (click)="changeMode('employee')"  class="btn ">Employeee</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content ">
                <div role="tabpanel " class="tab-pane wow slideInLeft" [class]="freelancer?'active':''" *ngIf="freelancer">
                    <div class="tabs_content_block ">
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                <img src="assets/images/email_sing_preview.png " class="img-responsive " alt=" ">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                <img src="assets/images/email_sing_preview.png " class="img-responsive " alt=" ">
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel " class="tab-pane wow slideInLeft " [class]="business?'active':''" *ngIf="business">
                    <div class="tabs_content_block ">
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                <img src="assets/images/email_sing_preview.png " class="img-responsive " alt=" ">
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel " class="tab-pane wow slideInLeft " [class]="persona?'active':''" *ngIf="persona">
                    <div class="tabs_content_block ">
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                <img src="assets/images/email_sing_preview.png " class="img-responsive " alt=" ">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                <img src="assets/images/email_sing_preview.png " class="img-responsive " alt=" ">
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel " class="tab-pane wow slideInLeft " [class]="employee?'active':''" *ngIf="employee">
                    <div class="tabs_content_block ">
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                <img src="assets/images/email_sing_preview.png " class="img-responsive " alt=" ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--5. Sign_genrator Section End Here-->
<!--6. Create_sign Section Start Here-->
<section class="create_sign_sec ">
    <div class="container ">
        <div class="section_header ">
            <div class="sec_title wow fadeInUp ">
                <h3>Create a professional email signature with MySignature</h3>
            </div>
            <div class="sec_tagline wow fadeInUp ">
                <p>Get more from your business conversations with email signature generator!</p>
            </div>
        </div>
        <div class="sec_btn wow fadeInUp ">
            <a   class="btn pink_btn large_btn font_popins txt_upper ">Create free email signature</a>
        </div>
    </div>
</section>
<!--6. Create_sign Section End Here-->