.header-content{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100%;
    background: gray;
    display: flex;
    border-bottom: 1px solid #e7e7e7;
} 
.site-logo{   
    width: 200px;
    flex: 0 0 200px;
    background: #fff;
    /* box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08); */
    text-align: center;
}  
.user-menu{
    background: #fff;
    width: 100%;
    position: relative;
    /* box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08); */
}
img.img-logo{
    width: 60%;
    display: inline;
    margin-top: 16px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar{
    margin-bottom: 0px;
}