.header-content{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100%;
    background: gray;
    display: flex;
} 
.site-logo{   
    width: 200px;
    flex: 0 0 200px;
    background-color: #272C33;
    text-align: center;
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15); */
}  
.user-menu{
    background: #fff;
    width: 100%;
    position: relative;
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    width: 100%;
}
img.img-logo{
    width: 56%;
    display: inline;
    cursor: pointer;
    margin-top: 21px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar{
    margin-bottom: 0px;
}
.user-profile{
    width: 10%;
}