<!-- <app-dashboard-index *ngIf="!isLogin">
</app-dashboard-index> -->
<ng-container *ngIf="!isLogin">
    <ng-container *ngIf="!isForm">
        <section class="dashboard_header_sec">
            <div class="container">
                <div class="dashboard_header">
                    <div class="dash_left wow fadeInUp">
                        <ul class="list-inline list-unstyled">
                            <li>
                                <a>
                                    <img src="assets/images/dashboard-icon.png" class="img-responsive">
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a>Signatures ({{defaultArray.length}})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dash_right wow fadeInUp">
                        <ul class="list-inline list-unstyled">
                            <li>
                                <a>
                                    <div class="search">
                                        <input class="inp-search " name="s" type="search" placeholder="Search">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="btn pink_btn large_btn font_popins txt_upper" (click)="formToggle(true)">Add New Signature</a>
                            </li>
                            <li>
                                <a href="#" class="btn pink_btn large_btn font_popins txt_upper">invite team members</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table id="user_dashboard" class="table " cellspacing="0" width="100%">
                    <thead>
                        <tr class="wow fadeInUp">
                            <th>Name</th>
                            <th>Position</th>
                            <th>Company</th>
                            <th>Email</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="wow fadeInUp" *ngFor="let data of defaultArray;">
                            <td>{{data.name}}</td>
                            <td>{{data.position}}</td>
                            <td>{{data.company}}</td>
                            <td>{{data.email}}</td>
                            <td>30-01-18 12:42</td>
                            <td>
                                <a (click)="actions('edit',data)">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a (click)="actions('view',data)">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                                <a href="#copy">
                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                </a>
                                <a (click)="actions('delete',data)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </ng-container>

    <ng-container *ngIf="isForm">

        <section class="dashboard_header_sec" style="padding-top: 0px !important;">
            <div class="top-title">
                <div class="container">
                    <div class="left wow fadeInUp">
                        <strong style="padding: 0px;cursor: pointer;" (click)="formToggle(false)">
                            <small>
                                < Back</small>
                        </strong>
                        <br>
                        <br>
                        <img src="assets/images/e-title.png" alt="title-img">
                        <strong>Email Signature</strong>|
                        <span>Improve email marketing strategy</span>
                    </div>
                    <div class="right wow fadeInUp">
                        <span>Import data from social networks:</span>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="assets/images/fb.png" alt="facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/images/linked-in.png" alt="linkedin">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <section class="email-sig">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 no-padding ">
                            <div class="tab wow fadeInUp">
                                <a class="tablinks" [class]="frm?'active':''" (click)="open_evt('frm')" id="defaultOpen">
                                    <em class="gn"></em>General</a>
                                <a class="tablinks" [class]="Images?'active':''" (click)="open_evt('Images')">
                                    <em class="im"></em>Images</a>
                                <a class="tablinks" [class]="Social?'active':''" (click)="open_evt('Social')">
                                    <em class="soc"></em>Social</a>
                                <a class="tablinks" [class]="Design?'active':''" (click)="open_evt('Design')">
                                    <em class="dei"></em>Design</a>
                            </div>
                            <div *ngIf="frm" id="frm" class="tabcontent wow fadeInUp">
                                <p>
                                    <span>Name:</span>
                                    <input type="text" [(ngModel)]="reqModel.name" name="fullname">
                                </p>
                                <p>
                                    <span>Company:</span>
                                    <input type="text" [(ngModel)]="reqModel.company" name="company">
                                </p>
                                <p>
                                    <span>Position:</span>
                                    <input type="text" [(ngModel)]="reqModel.position" name="position">
                                </p>
                                <p>
                                    <span>Department:</span>
                                    <input type="text" [(ngModel)]="reqModel.department" name="department">
                                </p>
                                <p>
                                    <span>Phone:</span>
                                    <input type="number" [(ngModel)]="reqModel.phone" name="phone">
                                </p>
                                <p>
                                    <span>Mobile:</span>
                                    <input type="number" [(ngModel)]="reqModel.mobile" name="mobile">
                                </p>
                                <p>
                                    <span>WhatsApp:</span>
                                    <input type="number" [(ngModel)]="reqModel.whatsapp" name="whatsapp">
                                </p>
                                <p>
                                    <span>Website:</span>
                                    <input type="text" [(ngModel)]="reqModel.website" name="website">
                                </p>
                                <p>
                                    <span>Skype:</span>
                                    <input type="text" [(ngModel)]="reqModel.skype" name="skype">
                                </p>
                                <p>
                                    <span>Email:</span>
                                    <input type="email" [(ngModel)]="reqModel.email" name="email">
                                </p>
                            </div>
                            <div *ngIf="Images" id="Images" class="tabcontent wow fadeInUp">
                                <p>
                                    <span>Picture / logo:</span>
                                    <label id="#bb"> Select a File
                                        <input type="file" id="File" (change)="getFile($event, 'logo')" size="60">
                                    </label>

                                    <p>
                                        <span>Add link to your logo:</span>
                                        <input type="text" name="profilelink" [(ngModel)]="reqModel.profile_link">
                                    </p>
                                    <p>
                                        <span>Banner:</span>
                                        <label id="#bb"> Select a File
                                            <input type="file" id="File" size="60"> </label>
                                    </p>
                                    <p>
                                        <span>Add link to your banner:</span>
                                        <input type="text" name="">
                                    </p>
                            </div>
                            <div *ngIf="Social" id="Social" class="tabcontent wow fadeInUp">
                                <p>
                                    <img src="assets/images/fb.png">
                                    <input type="text" name="fb" [(ngModel)]="reqModel.facebook_link" placeholder="https://www.facebook.com/YourCompany">
                                </p>
                                <p>
                                    <img src="assets/images/pinterest.png">
                                    <input type="text" name="pinrest" [(ngModel)]="reqModel.pinterest_link" placeholder="https://www.pinterest.com/YourCompany">
                                </p>
                                <p>
                                    <img src="assets/images/tweeter.png">
                                    <input type="text" name="tweeter" [(ngModel)]="reqModel.tweeter_link" placeholder="https://www.tweeter.com/YourCompany">
                                </p>
                                <p>
                                    <img src="assets/images/gplus.png">
                                    <input type="text" name="gplus" [(ngModel)]="reqModel.google_plus_link" placeholder="https://www.plus.google..com/YourCompany">
                                </p>
                                <p>
                                    <img src="assets/images/rss.png">
                                    <input type="text" name="rss" [(ngModel)]="reqModel.rss_link" placeholder="https://www.rss.com/YourCompany">
                                </p>
                                <p>
                                    <img src="assets/images/vimeo.png">
                                    <input type="text" name="vimeo" [(ngModel)]="reqModel.vimeo_link" placeholder="https://www.vimeo.com/YourCompany">
                                </p>
                                <p>
                                    <img src="assets/images/drib.png">
                                    <input type="text" name="drib" [(ngModel)]="reqModel.dribbble_link" placeholder="https://www.dribbble.com/YourCompany">
                                </p>
                                <p>
                                    <img src="assets/images/tumblr.png">
                                    <input type="text" name="tumblr" [(ngModel)]="reqModel.tumblr_link" placeholder="https://www.tumblr.com/YourCompany">
                                </p>
                                <p>
                                    <img src="assets/images/be.png">
                                    <input type="text" name="be" [(ngModel)]="reqModel.behance_link" placeholder="https://www.behance.com/YourCompany">
                                </p>
                                <p>
                                    <img src="assets/images/linked-in.png">
                                    <input type="text" name="linkedin" [(ngModel)]="reqModel.linkedin_link" placeholder="https://www.linkedin.com/YourCompany">
                                </p>
                                <p>
                                    <img src="assets/images/youtube.png">
                                    <input type="text" name="youtube" [(ngModel)]="reqModel.youtube_link" placeholder="https://www.youtube.com/YourCompany">
                                </p>
                            </div>
                            <div *ngIf="Design" id="Design" class="tabcontent wow fadeInUp">
                                <strong class="first">Layout</strong>
                                <p>
                                    <span>Font size:</span>
                                    <input class="range-slider__range" [(ngModel)]="reqModel.font_size" (ngModelChange)="setPixelProperty('font_size',reqModel.font_size)"
                                        type="range" [value]="reqModel.font_size" min="10" max="20">
                                </p>
                                <p style="position: relative;">
                                    <span>Font color:</span>
                                    <label style="padding: 20px;" [ngStyle]="{'background-color':reqModel.font_color}"></label>
                                    <input type="color" [(ngModel)]="reqModel.font_color" [value]="reqModel.font_color" style="position: absolute;
                                top: 0;
                                left: 150px;
                                opacity: 0;">
                                </p>
                                <p>
                                    <span>Background color:</span>
                                    <input type="color" [(ngModel)]="reqModel.background_color" [value]="reqModel.background_color">
                                </p>
                                <p>
                                    <span>Font family:</span>
                                    <input type="number" name="">
                                </p>

                                <strong>Photo</strong>
                                <p>
                                    <span>Image width:</span>
                                    <input class="range-slider__range" [(ngModel)]="reqModel.image_width" (ngModelChange)="setPixelProperty('image_width',reqModel.image_width)"
                                        type="range" [value]="reqModel.image_width" min="50" max="150">
                                </p>
                                <p>
                                    <span>Image shape:</span>
                                    <input class="range-slider__range" [(ngModel)]="reqModel.image_shape" (ngModelChange)="setPixelProperty('image_shape',reqModel.image_shape)"
                                        type="range" [value]="reqModel.image_shape" min="0" max="100"> </p>

                                <strong>Banner</strong>
                                <p>
                                    <span>Banner width:</span>
                                    <input class="range-slider__range" [(ngModel)]="reqModel.banner_width" type="range" value="50" min="0" max="500">
                                </p>


                                <strong>Icons</strong>
                                <p>
                                    <span>Size:</span>
                                    <input class="range-slider__range" [(ngModel)]="reqModel.size" (ngModelChange)="setPixelProperty('size',reqModel.size)" type="range"
                                        [value]="reqModel.size" min="30" max="40">
                                </p>
                                <p>
                                    <span>Shape:</span>
                                    <input class="range-slider__range" [(ngModel)]="reqModel.shape" (ngModelChange)="setPixelProperty('shape',reqModel.shape)"
                                        type="range" [value]="reqModel.shape" min="0" max="50">
                                </p>
                                <p>
                                    <span>color:</span>
                                    <input type="color" [(ngModel)]="reqModel.color" value="#ff6369">
                                </p>
                                <p>
                                    <span>Background:</span>
                                    <input type="color" [(ngModel)]="reqModel.background" value="#ff6369">
                                </p>
                                <p>
                                    <span>Brand colours:</span>
                                    <input type="color" [(ngModel)]="reqModel.brand_color" value="#ff6369">
                                </p>
                            </div>
                            <p class="btm-p wow fadeInUp">(Some fields are option and if they are black then not show as blank in template but instead
                                they just hide)
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="mail wow fadeInUp">
                                <div class="for-to">
                                    <span>To</span>
                                    <input type="text" name="" placeholder="David Smith ">
                                </div>
                                <div class="for-subject">
                                    <span>Subject </span>
                                    <input type="text" name="" placeholder="Check out my new email signature!">
                                </div>
                                <div class="for-com">
                                    <textarea placeholder="Hi, David, Check out this awesome email signature created with  Regards"></textarea>
                                </div>
                                <div>
                                    <ng-container *ngIf="reqModel.template=='1'">
                                        <app-dashboard-template1 [modeldata]="reqModel"></app-dashboard-template1>
                                    </ng-container>
                                    <ng-container *ngIf="reqModel.template=='2'">
                                        <app-dashboard-template2 [modeldata]="reqModel"></app-dashboard-template2>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="bot-btn wow fadeInUp">
                                <span>Last saved 12:44:05</span>
                                <a class="btn ch-btn" data-toggle="modal" data-target="#chooseTemp">Choose Template</a>
                                <!-- <a class="btn pink_btn fn" (click)="addSignature(reqModel)">Finish</a> -->
                                <a class="btn pink_btn fn" (click)="isFinish = true">Finish</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>


        <!-- Choose Template Model Start Here -->
        <div class="modal fade custom_modal" id="chooseTemp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="signinModal">Choose Template</h4>
                    </div>
                    <div class="modal-body">
                        <!-- <app-dashboard-template2 [modeldata]="reqModel"></app-dashboard-template2> -->

                        <div class="well temp_box" (click)="reqModel.template='1'" data-dismiss="modal" aria-label="Close">
                            <div class="mail-temp border-left-orange">
                                <strong class="orange-txt">jon doe,Web Designer</strong>
                                <p class="first">IndiaNIC | Design Team</p>
                                <p>
                                    <i class="orange-txt">M</i>9913955250</p>
                                <p>
                                    <i class="orange-txt">P:</i>9913955250</p>
                                <p>
                                    <i class="orange-txt">S:</i>jondoe.indianic</p>
                                <p>
                                    <i class="orange-txt">E:</i>jondoe@indianic.com</p>
                                <p>
                                    <i class="orange-txt">A:</i>201, 2nd Floor, Dev Arc Mall, Near Iskcon Bridge, S.G.Highway, Ahmedabad</p>
                            </div>
                        </div>

                        <div class="well temp_box" (click)="reqModel.template='2'" data-dismiss="modal" aria-label="Close">
                            <div class="mail-temp">
                                <strong class="green-txt">jon doe</strong>
                                <p class="first">
                                    <b>Web Designer</b> | Indianic | Design Team
                                </p>
                                <p>
                                    <i class="full_lbl green-txt">Phone</i>9913955250
                                </p>
                                <p>
                                    <i class="full_lbl green-txt">Mobile:</i>9913955250</p>
                                <p>
                                    <i class="full_lbl green-txt">Site:</i>indianic.com</p>
                                <p>
                                    <i class="full_lbl green-txt">Email:</i>jondoe@indianic.com</p>
                                <p>
                                    <i class="full_lbl green-txt">Skype:</i>jon.doe.indianic</p>
                                <p>
                                    <i class="full_lbl green-txt">Address:</i>201, 2nd Floor, Dev Arc Mall, Near Iskcon Bridge, S.G.Highway, Ahmedabad</p>
                            </div>
                        </div>

                        <div class="well temp_box" (click)="reqModel.template='2'" data-dismiss="modal" aria-label="Close">
                            <div class="mail-temp">
                                <strong class="green-txt">jon doe</strong>
                                <p class="first">
                                    <b>Web Designer</b> | Indianic | Design Team</p>
                                <p>
                                    <i class="full_lbl green-txt">Phone</i>9913955250</p>
                                <p>
                                    <i class="full_lbl green-txt">Mobile:</i>9913955250</p>
                                <p>
                                    <i class="full_lbl green-txt">Site:</i>indianic.com</p>
                                <p>
                                    <i class="full_lbl green-txt">Email:</i>jondoe@indianic.com</p>
                                <p>
                                    <i class="full_lbl green-txt">Skype:</i>jon.doe.indianic</p>
                                <p>
                                    <i class="full_lbl green-txt">Address:</i>201, 2nd Floor, Dev Arc Mall, Near Iskcon Bridge, S.G.Highway, Ahmedabad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Choose Template Model End Here -->
    </ng-container>

    <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->
   
</ng-container>

<div class="model-outer" *ngIf="isFinish">
        <div class="model-iner">
            <div class="header">
                <h3>Signature preview</h3>
                <p class="close" (click)="isFinish=false;isView=false;">&times;</p>
            </div>
            <div id="divTarget">
                <ng-container *ngIf="reqModel.template=='1'">
                    <app-dashboard-template1 [modeldata]="reqModel"></app-dashboard-template1>
                </ng-container>
                <ng-container *ngIf="reqModel.template=='2'">
                    <app-dashboard-template2 [modeldata]="reqModel"></app-dashboard-template2>
                </ng-container>
            </div>

            <div class="footer">
                <button type="button" (click)="isFinish=false;isView=false;" class="btn-cancel">Cancel</button>
                <button type="button" *ngIf="!isView" (click)="cpoyToClip();" class="btn-cpoytoclip">Save & Copy to clipboard</button>
                <button type="button" *ngIf="isView" (click)="viewCoptToClip();" class="btn-cpoytoclip">Copy to clipboard</button>
            </div>
        </div>
    </div>