<ng-container *ngIf="finalSignature">
    <div class="well temp_box">
        <div class="mail-temp">
            <a [href]="finalSignature.profile_link?finalSignature.profile_link:':javascript'" [target]="finalSignature.profile_link?'blank':''">
                <img *ngIf="finalSignature.profile_pic" [ngStyle]="{'width':finalSignature.image_width,'border-radius':finalSignature.image_shape}"
                    src="{{finalSignature.profile_pic}}" />
            </a>
            <p>
            <strong class="green-txt" [ngStyle]="{'color':finalSignature.font_color,'font-size':finalSignature.font_size}">{{finalSignature?.name}}</strong>
        </p>
            <p class="first">
                <span [ngStyle]="{'font-size':finalSignature.font_size}">{{finalSignature?.department}}</span>
                <span [ngStyle]="{'font-size':finalSignature.font_size}" *ngIf="finalSignature.company">|</span>
                <span [ngStyle]="{'font-size':finalSignature.font_size}">{{finalSignature?.company}}</span>
                <span *ngIf="finalSignature.position" [ngStyle]="{'font-size':finalSignature.font_size}">|</span>
                <span [ngStyle]="{'font-size':finalSignature.font_size}">{{finalSignature?.position}}</span>
            </p>
            <p>
                <i class="full_lbl green-txt" [ngStyle]="{'color':finalSignature.font_color,'font-size':finalSignature.font_size}">Phone:</i>
                <span [ngStyle]="{'font-size':finalSignature.font_size}">{{finalSignature?.phone}}</span>
            </p>
            <p>
                <i class="full_lbl green-txt" [ngStyle]="{'color':finalSignature.font_color,'font-size':finalSignature.font_size}">Mobile:</i>
                <span [ngStyle]="{'font-size':finalSignature.font_size}">{{finalSignature?.mobile}}</span>
            </p>
            <p>
                <i class="full_lbl green-txt" [ngStyle]="{'color':finalSignature.font_color,'font-size':finalSignature.font_size}">Site:</i>
                <span [ngStyle]="{'font-size':finalSignature.font_size}">{{finalSignature?.website}}</span>
            </p>
            <p>
                <i class="full_lbl green-txt" [ngStyle]="{'color':finalSignature.font_color,'font-size':finalSignature.font_size}">Email:</i>
                <span [ngStyle]="{'font-size':finalSignature.font_size}">{{finalSignature?.email}}</span>
            </p>
            <p>
                <i class="full_lbl green-txt" [ngStyle]="{'color':finalSignature.font_color,'font-size':finalSignature.font_size}">Skype:</i>
                <span [ngStyle]="{'font-size':finalSignature.font_size}">{{finalSignature?.skype}}</span>
            </p>
            <p>
                <i class="full_lbl green-txt" [ngStyle]="{'color':finalSignature.font_color,'font-size':finalSignature.font_size}">Address:</i>
                <span [ngStyle]="{'font-size':finalSignature.font_size}">201, 2nd Floor, Dev Arc Mall, Near Iskcon Bridge, S.G.Highway, Ahmedabad</span>
            </p>
            <div class="social-icons-dis">
                <p *ngIf="finalSignature.facebook_link">
                    <a [href]="finalSignature.facebook_link?finalSignature.facebook_link:':javascript'" [target]="finalSignature.facebook_link?'blank':''">
                        <img [ngStyle]="{'width':finalSignature.size,'border-radius':finalSignature.shape}" src="assets/images/fb.png">
                    </a>
                </p>
                <p *ngIf="finalSignature.pinterest_link">
                    <a [href]="finalSignature.pinterest_link?finalSignature.pinterest_link:':javascript'" [target]="finalSignature.pinterest_link?'blank':''">
                        <img [ngStyle]="{'width':finalSignature.size,'border-radius':finalSignature.shape}" src="assets/images/pinterest.png">
                    </a>
                </p>
                <p *ngIf="finalSignature.tweeter_link">
                    <a [href]="finalSignature.tweeter_link?finalSignature.tweeter_link:':javascript'" [target]="finalSignature.tweeter_link?'blank':''">
                        <img [ngStyle]="{'width':finalSignature.size,'border-radius':finalSignature.shape}" src="assets/images/tweeter.png">
                    </a>
                </p>
                <p *ngIf="finalSignature.google_plus_link">
                    <a [href]="finalSignature.google_plus_link?finalSignature.google_plus_link:':javascript'" [target]="finalSignature.google_plus_link?'blank':''">
                        <img [ngStyle]="{'width':finalSignature.size,'border-radius':finalSignature.shape}" src="assets/images/gplus.png">
                    </a>
                </p>
                <p *ngIf="finalSignature.rss_link">
                    <a [href]="finalSignature.rss_link?finalSignature.rss_link:':javascript'" [target]="finalSignature.rss_link?'blank':''">
                        <img [ngStyle]="{'width':finalSignature.size,'border-radius':finalSignature.shape}" src="assets/images/rss.png">
                    </a>
                </p>
                <p *ngIf="finalSignature.vimeo_link">
                    <a [href]="finalSignature.vimeo_link?finalSignature.vimeo_link:':javascript'" [target]="finalSignature.vimeo_link?'blank':''">
                        <img [ngStyle]="{'width':finalSignature.size,'border-radius':finalSignature.shape}" src="assets/images/vimeo.png">
                    </a>
                </p>
                <p *ngIf="finalSignature.dribbble_link">
                    <a [href]="finalSignature.dribbble_link?finalSignature.dribbble_link:':javascript'" [target]="finalSignature.dribbble_link?'blank':''">
                        <img [ngStyle]="{'width':finalSignature.size,'border-radius':finalSignature.shape}" src="assets/images/drib.png">
                    </a>
                </p>
                <p *ngIf="finalSignature.tumblr_link">
                    <a [href]="finalSignature.tumblr_link?finalSignature.tumblr_link:':javascript'" [target]="finalSignature.tumblr_link?'blank':''">
                        <img [ngStyle]="{'width':finalSignature.size,'border-radius':finalSignature.shape}" src="assets/images/tumblr.png">
                    </a>
                </p>
                <p *ngIf="finalSignature.behance_link">
                    <a [href]="finalSignature.behance_link?finalSignature.behance_link:':javascript'" [target]="finalSignature.behance_link?'blank':''">
                        <img [ngStyle]="{'width':finalSignature.size,'border-radius':finalSignature.shape}" src="assets/images/be.png">
                    </a>
                </p>
                <p *ngIf="finalSignature.linkedin_link">
                    <a [href]="finalSignature.linkedin_link?finalSignature.linkedin_link:':javascript'" [target]="finalSignature.linkedin_link?'blank':''">
                        <img [ngStyle]="{'width':finalSignature.size,'border-radius':finalSignature.shape}" src="assets/images/linked-in.png">
                    </a>
                </p>
                <p *ngIf="finalSignature.youtube_link">
                    <a [href]="finalSignature.youtube_link?finalSignature.youtube_link:':javascript'" [target]="finalSignature.youtube_link?'blank':''">
                        <img [ngStyle]="{'width':finalSignature.size,'border-radius':finalSignature.shape}" src="assets/images/youtube.png">
                    </a>
                </p>
            </div>
        </div>
    </div>
</ng-container>